# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
env/
venv/
.venv/
.env
.DS_Store

# Node/React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
dist/
.coverage

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
.dockerignore